/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    body {
        margin-left: 0%;
        margin-right: 0%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        margin-left: 0%;
        margin-right: 0%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        margin-left: 15%;
        margin-right: 15%;
    }
}

html {
    background-color: #CFD8DC;
}

body {
    background-color: white;
}

h1 {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #005005;
    color: white;
    width: 100%;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    width: 100%;
    margin: auto;
    text-align: center;
}

h3 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2e7d32;
    color: white;
    width: 100%;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

h4, p, li {
    font-size: 1.5rem;
    margin-left: 10%;
    margin-right: 10%;
}

.row {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 10%;
    padding: 5px;
}

.profile-pic {
    border-radius: 50%;
    width: 130px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.profile-name {
    font-size: 1.5rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}